<!-- 
  Possible HTML structure for Teaser Component 
  Used as reference for Tailwind build
  https://www.aemcomponents.dev/content/core-components-examples/library/page-authoring/teaser.html
-->

<div class="teaser">
  <div
    id="teaser-61035a52f1"
    class="cmp-teaser"
    data-cmp-data-layer='{"teaser-61035a52f1":{"@type":"core-components-examples/components/teaser","repo:modifyDate":"2019-12-08T10:05:56Z","dc:title":"Teaser Title","dc:description":"<p>Teaser Description</p>\r\n"}}'
  >
    <div class="cmp-teaser__content">
      <div class="cmp-teaser__pretitle">Pretitle</div>
      <h2 class="cmp-teaser__title">Teaser Title</h2>
      <div class="cmp-teaser__description">
        <p>Teaser Description</p>
      </div>
    </div>
  </div>
</div>

<div class="teaser">
  <div
    id="teaser-5c7e0ef90d"
    class="cmp-teaser"
    data-cmp-data-layer='{"teaser-5c7e0ef90d":{"@type":"core-components-examples/components/teaser","repo:modifyDate":"2019-12-08T10:08:38Z","dc:title":"Teaser Title","dc:description":"<p>Teaser Description</p>\r\n"}}'
  >
    <div class="cmp-teaser__image">
      <div
        data-cmp-lazythreshold="0"
        data-cmp-src="/content/core-components-examples/library/page-authoring/teaser/_jcr_content/root/responsivegrid/demo_1160408466/component/teaser.coreimg{.width}.jpeg/1575799718580/lava-into-ocean.jpeg"
        data-asset="/content/dam/core-components-examples/library/sample-assets/lava-into-ocean.jpg"
        data-asset-id="0f54e1b5-535b-45f7-a46b-35abb19dd6bc"
        data-title="Lava flowing into the ocean"
        id="image-5c7e0ef90d"
        data-cmp-data-layer='{"image-5c7e0ef90d":{"@type":"core-components-examples/components/image","repo:modifyDate":"2019-12-08T10:08:38Z","dc:title":"Lava flowing into the ocean","image":{"repo:id":"0f54e1b5-535b-45f7-a46b-35abb19dd6bc","repo:modifyDate":"2019-02-20T14:21:37Z","@type":"image/jpeg","repo:path":"/content/dam/core-components-examples/library/sample-assets/lava-into-ocean.jpg","xdm:tags":[],"xdm:smartTags":{}}}}'
        class="cmp-image"
        itemscope=""
        itemtype="http://schema.org/ImageObject"
      >
        <img
          class="cmp-image__image"
          itemprop="contentUrl"
          data-cmp-hook-image="image"
          alt="Lava flowing into the ocean"
          title="Lava flowing into the ocean"
          src="/content/core-components-examples/library/page-authoring/teaser/_jcr_content/root/responsivegrid/demo_1160408466/component/teaser.coreimg.jpeg/1575799718580/lava-into-ocean.jpeg"
        />
        <meta itemprop="caption" content="Lava flowing into the ocean" />
      </div>
    </div>
    <div class="cmp-teaser__content">
      <div class="cmp-teaser__pretitle">Pretitle</div>
      <h2 class="cmp-teaser__title">Teaser Title</h2>
      <div class="cmp-teaser__description">
        <p>Teaser Description</p>
      </div>
    </div>
  </div>
</div>

<div class="teaser">
  <div
    id="teaser-c0294248db"
    class="cmp-teaser"
    data-cmp-data-layer='{"teaser-c0294248db":{"@type":"core-components-examples/components/teaser","repo:modifyDate":"2018-12-07T12:39:46Z","dc:title":"Linked Teaser","dc:description":"<p>Teaser Description</p>\r\n","xdm:linkURL":"/content/core-components-examples/library/page-authoring/teaser.html"}}'
  >
    <div class="cmp-teaser__image">
      <div
        data-cmp-lazythreshold="0"
        data-cmp-src="/content/core-components-examples/library/page-authoring/teaser/_jcr_content/root/responsivegrid/demo_1789748122/component/teaser.coreimg{.width}.jpeg/1550672498426/lava-rock-formation.jpeg"
        data-asset="/content/dam/core-components-examples/library/sample-assets/lava-rock-formation.jpg"
        data-asset-id="c58c09f6-e382-4698-bfbd-e8c8d37712c8"
        data-title="Gray lava rock formation"
        id="image-c0294248db"
        data-cmp-data-layer='{"image-c0294248db":{"@type":"core-components-examples/components/image","repo:modifyDate":"2018-12-07T12:39:46Z","dc:title":"Gray lava rock formation","xdm:linkURL":"/content/core-components-examples/library/page-authoring/teaser.html","image":{"repo:id":"c58c09f6-e382-4698-bfbd-e8c8d37712c8","repo:modifyDate":"2019-02-20T14:21:38Z","@type":"image/jpeg","repo:path":"/content/dam/core-components-examples/library/sample-assets/lava-rock-formation.jpg","xdm:tags":[],"xdm:smartTags":{}}}}'
        class="cmp-image"
        itemscope=""
        itemtype="http://schema.org/ImageObject"
      >
        <a
          class="cmp-image__link"
          data-cmp-clickable=""
          data-cmp-hook-image="link"
          href="/content/core-components-examples/library/page-authoring/teaser.html"
        >
          <img
            class="cmp-image__image"
            itemprop="contentUrl"
            data-cmp-hook-image="image"
            alt="Gray lava rock formation"
            title="Gray lava rock formation"
            src="/content/core-components-examples/library/page-authoring/teaser/_jcr_content/root/responsivegrid/demo_1789748122/component/teaser.coreimg.jpeg/1550672498426/lava-rock-formation.jpeg"
          />
        </a>
        <meta itemprop="caption" content="Gray lava rock formation" />
      </div>
    </div>
    <div class="cmp-teaser__content">
      <h2 class="cmp-teaser__title">
        <a
          class="cmp-teaser__title-link"
          href="/content/core-components-examples/library/page-authoring/teaser.html"
          data-cmp-clickable=""
          >Linked Teaser</a
        >
      </h2>
      <div class="cmp-teaser__description">
        <p>Teaser Description</p>
      </div>
    </div>
  </div>
</div>

<div class="teaser">
  <div
    id="teaser-83a73ada4e"
    class="cmp-teaser"
    data-cmp-data-layer='{"teaser-83a73ada4e":{"@type":"core-components-examples/components/teaser","repo:modifyDate":"2018-12-07T12:42:40Z","dc:title":"Teaser Title","dc:description":"<p>Teaser Description</p>\r\n","xdm:linkURL":"/content/core-components-examples/library/page-authoring/teaser.html"}}'
  >
    <div class="cmp-teaser__image">
      <div
        data-cmp-lazythreshold="0"
        data-cmp-src="/content/core-components-examples/library/page-authoring/teaser/_jcr_content/root/responsivegrid/demo_1878698139/component/teaser.coreimg{.width}.jpeg/1550673081151/mountain-range.jpeg"
        data-asset="/content/dam/core-components-examples/library/sample-assets/mountain-range.jpg"
        data-asset-id="c0a39183-23f4-48f0-8db7-bb41ba2b0122"
        data-title="Aerial photo of mountain range"
        id="image-83a73ada4e"
        data-cmp-data-layer='{"image-83a73ada4e":{"@type":"core-components-examples/components/image","repo:modifyDate":"2018-12-07T12:42:40Z","dc:title":"Aerial photo of mountain range","image":{"repo:id":"c0a39183-23f4-48f0-8db7-bb41ba2b0122","repo:modifyDate":"2019-02-20T14:31:21Z","@type":"image/jpeg","repo:path":"/content/dam/core-components-examples/library/sample-assets/mountain-range.jpg","xdm:tags":[],"xdm:smartTags":{}}}}'
        class="cmp-image"
        itemscope=""
        itemtype="http://schema.org/ImageObject"
      >
        <img
          class="cmp-image__image"
          itemprop="contentUrl"
          data-cmp-hook-image="image"
          alt="Aerial photo of mountain range"
          title="Aerial photo of mountain range"
          src="/content/core-components-examples/library/page-authoring/teaser/_jcr_content/root/responsivegrid/demo_1878698139/component/teaser.coreimg.jpeg/1550673081151/mountain-range.jpeg"
        />
        <meta itemprop="caption" content="Aerial photo of mountain range" />
      </div>
    </div>
    <div class="cmp-teaser__content">
      <h2 class="cmp-teaser__title">
        <a
          class="cmp-teaser__title-link"
          href="/content/core-components-examples/library/page-authoring/teaser.html"
          data-cmp-clickable=""
          >Teaser Title</a
        >
      </h2>
      <div class="cmp-teaser__description">
        <p>Teaser Description</p>
      </div>
      <div class="cmp-teaser__action-container">
        <a
          class="cmp-teaser__action-link"
          href="/content/core-components-examples/library/page-authoring/teaser.html"
          id="teaser-83a73ada4e-cta-ed267738cb"
          data-cmp-data-layer='{"teaser-83a73ada4e-cta-ed267738cb":{"@type":"core-components-examples/components/teaser/cta","dc:title":"Call To Action","xdm:linkURL":"/content/core-components-examples/library/page-authoring/teaser.html"}}'
          data-cmp-clickable=""
          >Call To Action</a
        >
      </div>
    </div>
  </div>
</div>

<div class="teaser">
  <div
    id="teaser-561632a539"
    class="cmp-teaser"
    data-cmp-data-layer='{"teaser-561632a539":{"@type":"core-components-examples/components/teaser","repo:modifyDate":"2018-12-07T12:42:09Z","dc:title":"Teaser Title","dc:description":"<p>Teaser Description</p>\r\n","xdm:linkURL":"/content/core-components-examples/library/page-authoring/teaser.html"}}'
  >
    <div class="cmp-teaser__image">
      <div
        data-cmp-lazythreshold="0"
        data-cmp-src="/content/core-components-examples/library/page-authoring/teaser/_jcr_content/root/responsivegrid/demo_1581767054/component/teaser_2781767054.coreimg{.width}.jpeg/1550672497135/snowy-mountain-glacier.jpeg"
        data-asset="/content/dam/core-components-examples/library/sample-assets/snowy-mountain-glacier.jpg"
        data-asset-id="45c6ee92-90e1-4af2-af69-b6dcbc7daeb7"
        data-title="Snowy mountain glacier"
        id="image-561632a539"
        data-cmp-data-layer='{"image-561632a539":{"@type":"core-components-examples/components/image","repo:modifyDate":"2018-12-07T12:42:09Z","dc:title":"Snowy mountain glacier","image":{"repo:id":"45c6ee92-90e1-4af2-af69-b6dcbc7daeb7","repo:modifyDate":"2019-02-20T14:21:37Z","@type":"image/jpeg","repo:path":"/content/dam/core-components-examples/library/sample-assets/snowy-mountain-glacier.jpg","xdm:tags":[],"xdm:smartTags":{}}}}'
        class="cmp-image"
        itemscope=""
        itemtype="http://schema.org/ImageObject"
      >
        <img
          class="cmp-image__image"
          itemprop="contentUrl"
          data-cmp-hook-image="image"
          alt="Snowy mountain glacier"
          title="Snowy mountain glacier"
          src="/content/core-components-examples/library/page-authoring/teaser/_jcr_content/root/responsivegrid/demo_1581767054/component/teaser_2781767054.coreimg.jpeg/1550672497135/snowy-mountain-glacier.jpeg"
        />
        <meta itemprop="caption" content="Snowy mountain glacier" />
      </div>
    </div>
    <div class="cmp-teaser__content">
      <h2 class="cmp-teaser__title">
        <a
          class="cmp-teaser__title-link"
          href="/content/core-components-examples/library/page-authoring/teaser.html"
          data-cmp-clickable=""
          >Teaser Title</a
        >
      </h2>
      <div class="cmp-teaser__description">
        <p>Teaser Description</p>
      </div>
      <div class="cmp-teaser__action-container">
        <a
          class="cmp-teaser__action-link"
          href="/content/core-components-examples/library/page-authoring/teaser.html"
          id="teaser-561632a539-cta-d939c6ba30"
          data-cmp-data-layer='{"teaser-561632a539-cta-d939c6ba30":{"@type":"core-components-examples/components/teaser/cta","dc:title":"Call To Action","xdm:linkURL":"/content/core-components-examples/library/page-authoring/teaser.html"}}'
          data-cmp-clickable=""
          >Call To Action</a
        >
        <a
          class="cmp-teaser__action-link"
          href="/content/core-components-examples/library.html"
          id="teaser-561632a539-cta-2e27cc6ee5"
          data-cmp-data-layer='{"teaser-561632a539-cta-2e27cc6ee5":{"@type":"core-components-examples/components/teaser/cta","dc:title":"Call To Action","xdm:linkURL":"/content/core-components-examples/library.html"}}'
          data-cmp-clickable=""
          >Call To Action</a
        >
      </div>
    </div>
  </div>
</div>

<div class="teaser">
  <div
    id="teaser-efcb7219a9"
    class="cmp-teaser"
    data-cmp-data-layer='{"teaser-efcb7219a9":{"@type":"core-components-examples/components/teaser","repo:modifyDate":"2018-12-07T12:43:16Z","dc:title":"Teaser","dc:description":"Link an image and text","xdm:linkURL":"/content/core-components-examples/library/page-authoring/teaser.html"}}'
  >
    <div class="cmp-teaser__content">
      <h2 class="cmp-teaser__title">
        <a
          class="cmp-teaser__title-link"
          href="/content/core-components-examples/library/page-authoring/teaser.html"
          data-cmp-clickable=""
          >Teaser</a
        >
      </h2>
      <div class="cmp-teaser__description">Link an image and text</div>
    </div>
  </div>
</div>
