<!-- 
  Possible HTML structure for Button Component 
  Used as reference for Tailwind build
  https://www.aemcomponents.dev/content/core-components-examples/library/page-authoring/button.html
-->

<div class="button">
  <button type="button" id="button-93a5672f17" class="cmp-button" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-93a5672f17&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;repo:modifyDate&quot;:&quot;2018-12-07T12:37:57Z&quot;,&quot;dc:title&quot;:&quot;Button&quot;}}">
    <span class="cmp-button__text">Button</span>
  </button>
</div>

<div class="button">
  <a id="button-6a037d80be" class="cmp-button" href="/content/core-components-examples/library/page-authoring/button.html" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-6a037d80be&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;repo:modifyDate&quot;:&quot;2018-12-07T12:38:48Z&quot;,&quot;dc:title&quot;:&quot;Anchor Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/button.html&quot;}}">
    <span class="cmp-button__text">Anchor Button</span>
  </a>
</div>

<div class="button">
  <button type="button" id="button-1d3ee49e15" class="cmp-button" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-1d3ee49e15&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;repo:modifyDate&quot;:&quot;2018-12-07T12:38:48Z&quot;,&quot;dc:title&quot;:&quot;Contact Us&quot;}}">
    <span class="cmp-button__icon cmp-button__icon--email"></span>
    <span class="cmp-button__text">Contact Us</span>
  </button>
</div>