<!-- 
  Possible HTML structure for List Component 
  Used as reference for Tailwind build
  https://www.aemcomponents.dev/content/core-components-examples/library/page-authoring/list.html
-->

<div class="list">
  <ul
    id="list-071ec16d50"
    data-cmp-data-layer='{"list-071ec16d50":{"@type":"core-components-examples/components/list","repo:modifyDate":"2018-12-07T11:56:13Z"}}'
    class="cmp-list"
  >
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-071ec16d50-item-df1699a779":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:41Z","dc:title":"Title","xdm:linkURL":"/content/core-components-examples/library/page-authoring/title.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Title</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-071ec16d50-item-e13089bf3b":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:42Z","dc:title":"Text","xdm:linkURL":"/content/core-components-examples/library/page-authoring/text.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Text</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-071ec16d50-item-26f940ec0f":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:34Z","dc:title":"Image","xdm:linkURL":"/content/core-components-examples/library/page-authoring/image.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Image</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-071ec16d50-item-5ce5bb112c":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:37Z","dc:title":"Button","xdm:linkURL":"/content/core-components-examples/library/page-authoring/button.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Button</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-071ec16d50-item-bd937d6b13":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:32Z","dc:title":"Teaser","xdm:linkURL":"/content/core-components-examples/library/page-authoring/teaser.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Teaser</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-071ec16d50-item-d911db0f45":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:36Z","dc:title":"Download","xdm:linkURL":"/content/core-components-examples/library/page-authoring/download.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Download</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-071ec16d50-item-da73ac8b3b":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:40Z","dc:title":"List","xdm:linkURL":"/content/core-components-examples/library/page-authoring/list.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">List</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-071ec16d50-item-849883059f":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:39Z","dc:title":"Experience Fragment","xdm:linkURL":"/content/core-components-examples/library/page-authoring/experience-fragment.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Experience Fragment</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-071ec16d50-item-12f115629d":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:38Z","dc:title":"Content Fragment","xdm:linkURL":"/content/core-components-examples/library/page-authoring/content-fragment.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Content Fragment</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-071ec16d50-item-f48a790a96":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:43Z","dc:title":"Content Fragment List","xdm:linkURL":"/content/core-components-examples/library/page-authoring/content-fragment-list.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Content Fragment List</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-071ec16d50-item-12fc929c8a":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:41Z","dc:title":"Embed","xdm:linkURL":"/content/core-components-examples/library/page-authoring/embed.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Embed</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-071ec16d50-item-9f8160f4bd":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-06-18T11:25:34Z","dc:title":"PDF Viewer","xdm:linkURL":"/content/core-components-examples/library/page-authoring/pdf-viewer.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">PDF Viewer</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-071ec16d50-item-5cc306b231":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-05-29T15:04:39Z","dc:title":"Progress Bar","xdm:linkURL":"/content/core-components-examples/library/page-authoring/progressbar.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Progress Bar</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-071ec16d50-item-db5309eae3":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:42Z","dc:title":"Social Sharing","xdm:linkURL":"/content/core-components-examples/library/page-authoring/social-sharing.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Social Sharing</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-071ec16d50-item-611486886f":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:41Z","dc:title":"Separator","xdm:linkURL":"/content/core-components-examples/library/page-authoring/separator.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Separator</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-071ec16d50-item-abdc936d9e":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2021-05-27T13:00:15Z","dc:title":"AEM Forms Container","xdm:linkURL":"/content/core-components-examples/library/page-authoring/aemform.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">AEM Forms Container</span>
      </article>
    </li>
  </ul>
</div>

<div class="list">
  <ul
    id="list-f50b36b533"
    data-cmp-data-layer='{"list-f50b36b533":{"@type":"core-components-examples/components/list","repo:modifyDate":"2019-01-14T14:09:59Z"}}'
    class="cmp-list"
  >
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-f50b36b533-item-b0a08e7237":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:28Z","dc:title":"Carousel","xdm:linkURL":"/content/core-components-examples/library/container/carousel.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Carousel</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-f50b36b533-item-bd937d6b13":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:32Z","dc:title":"Teaser","xdm:linkURL":"/content/core-components-examples/library/page-authoring/teaser.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Teaser</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-f50b36b533-item-e13089bf3b":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:42Z","dc:title":"Text","xdm:linkURL":"/content/core-components-examples/library/page-authoring/text.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Text</span>
      </article>
    </li>
  </ul>
</div>

<div class="list">
  <ul
    id="list-64bf657ac8"
    data-cmp-data-layer='{"list-64bf657ac8":{"@type":"core-components-examples/components/list","repo:modifyDate":"2019-01-14T14:07:05Z"}}'
    class="cmp-list"
  >
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-64bf657ac8-item-cf30385173":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2021-02-11T17:13:13Z","dc:title":"Category Carousel","xdm:linkURL":"/content/core-components-examples/library/commerce/categorycarousel.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Category Carousel</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-64bf657ac8-item-b0a08e7237":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:28Z","dc:title":"Carousel","xdm:linkURL":"/content/core-components-examples/library/container/carousel.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Carousel</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-64bf657ac8-item-a951b11a6c":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2021-02-11T17:13:13Z","dc:title":"Product Carousel","xdm:linkURL":"/content/core-components-examples/library/commerce/productcarousel.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Product Carousel</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-64bf657ac8-item-9e0a26222d":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2021-02-11T17:13:13Z","dc:title":"Related Products","xdm:linkURL":"/content/core-components-examples/library/commerce/relatedproducts.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Related Products</span>
      </article>
    </li>
  </ul>
</div>

<div class="list">
  <ul
    id="list-37924bbb4c"
    data-cmp-data-layer='{"list-37924bbb4c":{"@type":"core-components-examples/components/list","repo:modifyDate":"2018-12-07T11:59:09Z"}}'
    class="cmp-list"
  >
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-37924bbb4c-item-db5309eae3":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:42Z","dc:title":"Social Sharing","xdm:linkURL":"/content/core-components-examples/library/page-authoring/social-sharing.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Social Sharing</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-37924bbb4c-item-bd937d6b13":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:32Z","dc:title":"Teaser","xdm:linkURL":"/content/core-components-examples/library/page-authoring/teaser.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Teaser</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-37924bbb4c-item-26f940ec0f":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:34Z","dc:title":"Image","xdm:linkURL":"/content/core-components-examples/library/page-authoring/image.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Image</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-37924bbb4c-item-849883059f":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:39Z","dc:title":"Experience Fragment","xdm:linkURL":"/content/core-components-examples/library/page-authoring/experience-fragment.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Experience Fragment</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-37924bbb4c-item-e13089bf3b":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:42Z","dc:title":"Text","xdm:linkURL":"/content/core-components-examples/library/page-authoring/text.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Text</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-37924bbb4c-item-611486886f":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:41Z","dc:title":"Separator","xdm:linkURL":"/content/core-components-examples/library/page-authoring/separator.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Separator</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-37924bbb4c-item-da73ac8b3b":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:40Z","dc:title":"List","xdm:linkURL":"/content/core-components-examples/library/page-authoring/list.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">List</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-37924bbb4c-item-d911db0f45":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:36Z","dc:title":"Download","xdm:linkURL":"/content/core-components-examples/library/page-authoring/download.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Download</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-37924bbb4c-item-f48a790a96":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:43Z","dc:title":"Content Fragment List","xdm:linkURL":"/content/core-components-examples/library/page-authoring/content-fragment-list.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Content Fragment List</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-37924bbb4c-item-12fc929c8a":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:41Z","dc:title":"Embed","xdm:linkURL":"/content/core-components-examples/library/page-authoring/embed.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Embed</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-37924bbb4c-item-12f115629d":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:38Z","dc:title":"Content Fragment","xdm:linkURL":"/content/core-components-examples/library/page-authoring/content-fragment.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Content Fragment</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-37924bbb4c-item-5ce5bb112c":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:37Z","dc:title":"Button","xdm:linkURL":"/content/core-components-examples/library/page-authoring/button.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Button</span>
      </article>
    </li>
  </ul>
</div>

<div class="list">
  <ul
    id="list-b5ec41c712"
    data-cmp-data-layer='{"list-b5ec41c712":{"@type":"core-components-examples/components/list","repo:modifyDate":"2018-12-07T11:59:51Z"}}'
    class="cmp-list"
  >
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-b5ec41c712-item-df1699a779":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:41Z","dc:title":"Title","xdm:linkURL":"/content/core-components-examples/library/page-authoring/title.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Title</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-b5ec41c712-item-e13089bf3b":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:42Z","dc:title":"Text","xdm:linkURL":"/content/core-components-examples/library/page-authoring/text.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Text</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-b5ec41c712-item-bd937d6b13":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:32Z","dc:title":"Teaser","xdm:linkURL":"/content/core-components-examples/library/page-authoring/teaser.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Teaser</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-b5ec41c712-item-db5309eae3":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:42Z","dc:title":"Social Sharing","xdm:linkURL":"/content/core-components-examples/library/page-authoring/social-sharing.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Social Sharing</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-b5ec41c712-item-611486886f":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:41Z","dc:title":"Separator","xdm:linkURL":"/content/core-components-examples/library/page-authoring/separator.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Separator</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-b5ec41c712-item-5cc306b231":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-05-29T15:04:39Z","dc:title":"Progress Bar","xdm:linkURL":"/content/core-components-examples/library/page-authoring/progressbar.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Progress Bar</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-b5ec41c712-item-9f8160f4bd":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-06-18T11:25:34Z","dc:title":"PDF Viewer","xdm:linkURL":"/content/core-components-examples/library/page-authoring/pdf-viewer.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">PDF Viewer</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-b5ec41c712-item-da73ac8b3b":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:40Z","dc:title":"List","xdm:linkURL":"/content/core-components-examples/library/page-authoring/list.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">List</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-b5ec41c712-item-26f940ec0f":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:34Z","dc:title":"Image","xdm:linkURL":"/content/core-components-examples/library/page-authoring/image.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Image</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-b5ec41c712-item-849883059f":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:39Z","dc:title":"Experience Fragment","xdm:linkURL":"/content/core-components-examples/library/page-authoring/experience-fragment.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Experience Fragment</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-b5ec41c712-item-12fc929c8a":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:41Z","dc:title":"Embed","xdm:linkURL":"/content/core-components-examples/library/page-authoring/embed.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Embed</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-b5ec41c712-item-d911db0f45":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:36Z","dc:title":"Download","xdm:linkURL":"/content/core-components-examples/library/page-authoring/download.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Download</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-b5ec41c712-item-f48a790a96":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:43Z","dc:title":"Content Fragment List","xdm:linkURL":"/content/core-components-examples/library/page-authoring/content-fragment-list.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Content Fragment List</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-b5ec41c712-item-12f115629d":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:38Z","dc:title":"Content Fragment","xdm:linkURL":"/content/core-components-examples/library/page-authoring/content-fragment.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Content Fragment</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-b5ec41c712-item-5ce5bb112c":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:37Z","dc:title":"Button","xdm:linkURL":"/content/core-components-examples/library/page-authoring/button.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Button</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-b5ec41c712-item-abdc936d9e":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2021-05-27T13:00:15Z","dc:title":"AEM Forms Container","xdm:linkURL":"/content/core-components-examples/library/page-authoring/aemform.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">AEM Forms Container</span>
      </article>
    </li>
  </ul>
</div>

<div class="list">
  <ul
    id="list-88a698b7a4"
    data-cmp-data-layer='{"list-88a698b7a4":{"@type":"core-components-examples/components/list","repo:modifyDate":"2018-12-07T12:00:17Z"}}'
    class="cmp-list"
  >
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-88a698b7a4-item-df1699a779":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:41Z","dc:title":"Title","xdm:linkURL":"/content/core-components-examples/library/page-authoring/title.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Title</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-88a698b7a4-item-e13089bf3b":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:42Z","dc:title":"Text","xdm:linkURL":"/content/core-components-examples/library/page-authoring/text.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Text</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-88a698b7a4-item-26f940ec0f":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:34Z","dc:title":"Image","xdm:linkURL":"/content/core-components-examples/library/page-authoring/image.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Image</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-88a698b7a4-item-5ce5bb112c":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:37Z","dc:title":"Button","xdm:linkURL":"/content/core-components-examples/library/page-authoring/button.html"}}'
    >
      <article>
        <span class="cmp-list__item-title">Button</span>
      </article>
    </li>
  </ul>
</div>

<div class="list">
  <ul
    id="list-949c81eff0"
    data-cmp-data-layer='{"list-949c81eff0":{"@type":"core-components-examples/components/list","repo:modifyDate":"2018-12-07T12:00:33Z"}}'
    class="cmp-list"
  >
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-949c81eff0-item-df1699a779":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:41Z","dc:title":"Title","xdm:linkURL":"/content/core-components-examples/library/page-authoring/title.html"}}'
    >
      <article>
        <a
          class="cmp-list__item-link"
          href="/content/core-components-examples/library/page-authoring/title.html"
          data-cmp-clickable=""
        >
          <span class="cmp-list__item-title">Title</span>
          <span class="cmp-list__item-date">2020-04-29</span>
        </a>
        <span class="cmp-list__item-description">Display a page heading</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-949c81eff0-item-e13089bf3b":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:42Z","dc:title":"Text","xdm:linkURL":"/content/core-components-examples/library/page-authoring/text.html"}}'
    >
      <article>
        <a
          class="cmp-list__item-link"
          href="/content/core-components-examples/library/page-authoring/text.html"
          data-cmp-clickable=""
        >
          <span class="cmp-list__item-title">Text</span>
          <span class="cmp-list__item-date">2019-01-22</span>
        </a>
        <span class="cmp-list__item-description"
          >Display a rich text paragraph</span
        >
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-949c81eff0-item-26f940ec0f":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:34Z","dc:title":"Image","xdm:linkURL":"/content/core-components-examples/library/page-authoring/image.html"}}'
    >
      <article>
        <a
          class="cmp-list__item-link"
          href="/content/core-components-examples/library/page-authoring/image.html"
          data-cmp-clickable=""
        >
          <span class="cmp-list__item-title">Image</span>
          <span class="cmp-list__item-date">2019-02-15</span>
        </a>
        <span class="cmp-list__item-description">Display an image asset</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-949c81eff0-item-5ce5bb112c":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:37Z","dc:title":"Button","xdm:linkURL":"/content/core-components-examples/library/page-authoring/button.html"}}'
    >
      <article>
        <a
          class="cmp-list__item-link"
          href="/content/core-components-examples/library/page-authoring/button.html"
          data-cmp-clickable=""
        >
          <span class="cmp-list__item-title">Button</span>
          <span class="cmp-list__item-date">2019-01-09</span>
        </a>
        <span class="cmp-list__item-description"
          >Display a button or anchor button</span
        >
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-949c81eff0-item-bd937d6b13":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:32Z","dc:title":"Teaser","xdm:linkURL":"/content/core-components-examples/library/page-authoring/teaser.html"}}'
    >
      <article>
        <a
          class="cmp-list__item-link"
          href="/content/core-components-examples/library/page-authoring/teaser.html"
          data-cmp-clickable=""
        >
          <span class="cmp-list__item-title">Teaser</span>
          <span class="cmp-list__item-date">2019-12-08</span>
        </a>
        <span class="cmp-list__item-description">Link an image and text</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-949c81eff0-item-d911db0f45":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:36Z","dc:title":"Download","xdm:linkURL":"/content/core-components-examples/library/page-authoring/download.html"}}'
    >
      <article>
        <a
          class="cmp-list__item-link"
          href="/content/core-components-examples/library/page-authoring/download.html"
          data-cmp-clickable=""
        >
          <span class="cmp-list__item-title">Download</span>
          <span class="cmp-list__item-date">2019-05-27</span>
        </a>
        <span class="cmp-list__item-description"
          >Display an asset for download</span
        >
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-949c81eff0-item-da73ac8b3b":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:40Z","dc:title":"List","xdm:linkURL":"/content/core-components-examples/library/page-authoring/list.html"}}'
    >
      <article>
        <a
          class="cmp-list__item-link"
          href="/content/core-components-examples/library/page-authoring/list.html"
          data-cmp-clickable=""
        >
          <span class="cmp-list__item-title">List</span>
          <span class="cmp-list__item-date">2019-01-16</span>
        </a>
        <span class="cmp-list__item-description">Display a list of pages</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-949c81eff0-item-849883059f":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:39Z","dc:title":"Experience Fragment","xdm:linkURL":"/content/core-components-examples/library/page-authoring/experience-fragment.html"}}'
    >
      <article>
        <a
          class="cmp-list__item-link"
          href="/content/core-components-examples/library/page-authoring/experience-fragment.html"
          data-cmp-clickable=""
        >
          <span class="cmp-list__item-title">Experience Fragment</span>
          <span class="cmp-list__item-date">2019-08-20</span>
        </a>
        <span class="cmp-list__item-description"
          >Display an experience fragment</span
        >
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-949c81eff0-item-12f115629d":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:38Z","dc:title":"Content Fragment","xdm:linkURL":"/content/core-components-examples/library/page-authoring/content-fragment.html"}}'
    >
      <article>
        <a
          class="cmp-list__item-link"
          href="/content/core-components-examples/library/page-authoring/content-fragment.html"
          data-cmp-clickable=""
        >
          <span class="cmp-list__item-title">Content Fragment</span>
          <span class="cmp-list__item-date">2019-01-16</span>
        </a>
        <span class="cmp-list__item-description"
          >Display a content fragment asset</span
        >
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-949c81eff0-item-f48a790a96":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:43Z","dc:title":"Content Fragment List","xdm:linkURL":"/content/core-components-examples/library/page-authoring/content-fragment-list.html"}}'
    >
      <article>
        <a
          class="cmp-list__item-link"
          href="/content/core-components-examples/library/page-authoring/content-fragment-list.html"
          data-cmp-clickable=""
        >
          <span class="cmp-list__item-title">Content Fragment List</span>
          <span class="cmp-list__item-date">2019-04-01</span>
        </a>
        <span class="cmp-list__item-description"
          >Display a list of content fragments</span
        >
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-949c81eff0-item-12fc929c8a":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:41Z","dc:title":"Embed","xdm:linkURL":"/content/core-components-examples/library/page-authoring/embed.html"}}'
    >
      <article>
        <a
          class="cmp-list__item-link"
          href="/content/core-components-examples/library/page-authoring/embed.html"
          data-cmp-clickable=""
        >
          <span class="cmp-list__item-title">Embed</span>
          <span class="cmp-list__item-date">2019-08-29</span>
        </a>
        <span class="cmp-list__item-description"
          >Embed a third-party widget</span
        >
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-949c81eff0-item-9f8160f4bd":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-06-18T11:25:34Z","dc:title":"PDF Viewer","xdm:linkURL":"/content/core-components-examples/library/page-authoring/pdf-viewer.html"}}'
    >
      <article>
        <a
          class="cmp-list__item-link"
          href="/content/core-components-examples/library/page-authoring/pdf-viewer.html"
          data-cmp-clickable=""
        >
          <span class="cmp-list__item-title">PDF Viewer</span>
          <span class="cmp-list__item-date">2020-07-17</span>
        </a>
        <span class="cmp-list__item-description"
          >Embed a PDF Viewer widget to display Document Cloud PDF's</span
        >
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-949c81eff0-item-5cc306b231":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-05-29T15:04:39Z","dc:title":"Progress Bar","xdm:linkURL":"/content/core-components-examples/library/page-authoring/progressbar.html"}}'
    >
      <article>
        <a
          class="cmp-list__item-link"
          href="/content/core-components-examples/library/page-authoring/progressbar.html"
          data-cmp-clickable=""
        >
          <span class="cmp-list__item-title">Progress Bar</span>
          <span class="cmp-list__item-date">2020-07-17</span>
        </a>
        <span class="cmp-list__item-description"
          >Display a progress indicator</span
        >
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-949c81eff0-item-db5309eae3":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:42Z","dc:title":"Social Sharing","xdm:linkURL":"/content/core-components-examples/library/page-authoring/social-sharing.html"}}'
    >
      <article>
        <a
          class="cmp-list__item-link"
          href="/content/core-components-examples/library/page-authoring/social-sharing.html"
          data-cmp-clickable=""
        >
          <span class="cmp-list__item-title">Social Sharing</span>
          <span class="cmp-list__item-date">2019-01-09</span>
        </a>
        <span class="cmp-list__item-description">Add social sharing links</span>
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-949c81eff0-item-611486886f":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2020-01-16T15:15:41Z","dc:title":"Separator","xdm:linkURL":"/content/core-components-examples/library/page-authoring/separator.html"}}'
    >
      <article>
        <a
          class="cmp-list__item-link"
          href="/content/core-components-examples/library/page-authoring/separator.html"
          data-cmp-clickable=""
        >
          <span class="cmp-list__item-title">Separator</span>
          <span class="cmp-list__item-date">2019-01-09</span>
        </a>
        <span class="cmp-list__item-description"
          >Display a section divider</span
        >
      </article>
    </li>
    <li
      class="cmp-list__item"
      data-cmp-data-layer='{"list-949c81eff0-item-abdc936d9e":{"@type":"core-components-examples/components/list/item","repo:modifyDate":"2021-05-27T13:00:15Z","dc:title":"AEM Forms Container","xdm:linkURL":"/content/core-components-examples/library/page-authoring/aemform.html"}}'
    >
      <article>
        <a
          class="cmp-list__item-link"
          href="/content/core-components-examples/library/page-authoring/aemform.html"
          data-cmp-clickable=""
        >
          <span class="cmp-list__item-title">AEM Forms Container</span>
          <span class="cmp-list__item-date">2020-07-15</span>
        </a>
        <span class="cmp-list__item-description"
          >Display AEM Forms Container Component</span
        >
      </article>
    </li>
  </ul>
</div>
