<!-- 
  Possible HTML structure for Tabs Component 
  Used as reference for Tailwind build
  https://www.aemcomponents.dev/content/core-components-examples/library/container/tabs.html
-->
<div class="tabs">
  <div
    id="tabs-c324455e43"
    class="cmp-tabs"
    data-cmp-data-layer='{"tabs-c324455e43":{"shownItems":["tabs-c324455e43-item-ace94c0467"],"@type":"core-components-examples/components/tabs","repo:modifyDate":"2018-12-07T12:11:51Z"}}'
    data-placeholder-text="false"
  >
    <ol role="tablist" class="cmp-tabs__tablist" aria-multiselectable="false">
      <li
        role="tab"
        id="tabs-c324455e43-item-ace94c0467-tab"
        class="cmp-tabs__tab cmp-tabs__tab--active"
        aria-controls="tabs-c324455e43-item-ace94c0467-tabpanel"
        tabindex="0"
        data-cmp-hook-tabs="tab"
        aria-selected="true"
      >
        Tab 1
      </li>
      <li
        role="tab"
        id="tabs-c324455e43-item-6afd3ea640-tab"
        class="cmp-tabs__tab"
        aria-controls="tabs-c324455e43-item-6afd3ea640-tabpanel"
        tabindex="-1"
        data-cmp-hook-tabs="tab"
        aria-selected="false"
      >
        Tab 2
      </li>
      <li
        role="tab"
        id="tabs-c324455e43-item-0c51149435-tab"
        class="cmp-tabs__tab"
        aria-controls="tabs-c324455e43-item-0c51149435-tabpanel"
        tabindex="-1"
        data-cmp-hook-tabs="tab"
        aria-selected="false"
      >
        Tab 3
      </li>
    </ol>
    <div
      id="tabs-c324455e43-item-ace94c0467-tabpanel"
      role="tabpanel"
      aria-labelledby="tabs-c324455e43-item-ace94c0467-tab"
      tabindex="0"
      class="cmp-tabs__tabpanel cmp-tabs__tabpanel--active"
      data-cmp-hook-tabs="tabpanel"
      data-cmp-data-layer='{"tabs-c324455e43-item-ace94c0467":{"@type":"core-components-examples/components/tabs/item","dc:title":"Tab 1"}}'
    >
      <div class="responsivegrid">
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12"></div>
      </div>
    </div>
    <div
      id="tabs-c324455e43-item-6afd3ea640-tabpanel"
      role="tabpanel"
      aria-labelledby="tabs-c324455e43-item-6afd3ea640-tab"
      tabindex="0"
      class="cmp-tabs__tabpanel"
      data-cmp-hook-tabs="tabpanel"
      data-cmp-data-layer='{"tabs-c324455e43-item-6afd3ea640":{"@type":"core-components-examples/components/tabs/item","dc:title":"Tab 2"}}'
      aria-hidden="true"
    >
      <div class="responsivegrid">
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12"></div>
      </div>
    </div>
    <div
      id="tabs-c324455e43-item-0c51149435-tabpanel"
      role="tabpanel"
      aria-labelledby="tabs-c324455e43-item-0c51149435-tab"
      tabindex="0"
      class="cmp-tabs__tabpanel"
      data-cmp-hook-tabs="tabpanel"
      data-cmp-data-layer='{"tabs-c324455e43-item-0c51149435":{"@type":"core-components-examples/components/tabs/item","dc:title":"Tab 3"}}'
      aria-hidden="true"
    >
      <div class="responsivegrid">
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12"></div>
      </div>
    </div>
  </div>
</div>

<div class="tabs">
  <div
    id="tabs-d734aa9c61"
    class="cmp-tabs"
    data-cmp-data-layer='{"tabs-d734aa9c61":{"shownItems":["tabs-d734aa9c61-item-236e9c3f08"],"@type":"core-components-examples/components/tabs","repo:modifyDate":"2018-12-07T12:12:10Z"}}'
    data-placeholder-text="false"
  >
    <ol role="tablist" class="cmp-tabs__tablist" aria-multiselectable="false">
      <li
        role="tab"
        id="tabs-d734aa9c61-item-236e9c3f08-tab"
        class="cmp-tabs__tab cmp-tabs__tab--active"
        aria-controls="tabs-d734aa9c61-item-236e9c3f08-tabpanel"
        tabindex="0"
        data-cmp-hook-tabs="tab"
        aria-selected="true"
      >
        Tab 1
      </li>
      <li
        role="tab"
        id="tabs-d734aa9c61-item-1948bed6ab-tab"
        class="cmp-tabs__tab"
        aria-controls="tabs-d734aa9c61-item-1948bed6ab-tabpanel"
        tabindex="-1"
        data-cmp-hook-tabs="tab"
        aria-selected="false"
      >
        Tab 2
      </li>
      <li
        role="tab"
        id="tabs-d734aa9c61-item-705e21779e-tab"
        class="cmp-tabs__tab"
        aria-controls="tabs-d734aa9c61-item-705e21779e-tabpanel"
        tabindex="-1"
        data-cmp-hook-tabs="tab"
        aria-selected="false"
      >
        Tab 3
      </li>
    </ol>
    <div
      id="tabs-d734aa9c61-item-236e9c3f08-tabpanel"
      role="tabpanel"
      aria-labelledby="tabs-d734aa9c61-item-236e9c3f08-tab"
      tabindex="0"
      class="cmp-tabs__tabpanel cmp-tabs__tabpanel--active"
      data-cmp-hook-tabs="tabpanel"
      data-cmp-data-layer='{"tabs-d734aa9c61-item-236e9c3f08":{"@type":"core-components-examples/components/tabs/item","dc:title":"Tab 1"}}'
    >
      <div class="responsivegrid">
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12">
          <div class="text aem-GridColumn aem-GridColumn--default--12">
            <div
              data-cmp-data-layer='{"text-31e9b022fd":{"@type":"core-components-examples/components/text","repo:modifyDate":"2019-01-22T11:45:56Z","xdm:text":"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>\n"}}'
              id="text-31e9b022fd"
              class="cmp-text"
            >
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu
                mi bibendum neque egestas congue quisque egestas. Varius morbi
                enim nunc faucibus a pellentesque. Scelerisque eleifend donec
                pretium vulputate sapien nec sagittis.
              </p>
            </div>
          </div>
          <div class="image aem-GridColumn aem-GridColumn--default--12">
            <div
              data-cmp-lazythreshold="0"
              data-cmp-src="/content/core-components-examples/library/container/tabs/_jcr_content/root/responsivegrid/demo_1865210207/component/tabs/item_1/image.coreimg{.width}.jpeg/1550672497829/lava-into-ocean.jpeg"
              data-asset="/content/dam/core-components-examples/library/sample-assets/lava-into-ocean.jpg"
              data-asset-id="0f54e1b5-535b-45f7-a46b-35abb19dd6bc"
              data-title="Lava flowing into the ocean"
              id="image-c457ccf5b1"
              data-cmp-data-layer='{"image-c457ccf5b1":{"@type":"core-components-examples/components/image","repo:modifyDate":"2018-12-07T12:13:13Z","dc:title":"Lava flowing into the ocean","image":{"repo:id":"0f54e1b5-535b-45f7-a46b-35abb19dd6bc","repo:modifyDate":"2019-02-20T14:21:37Z","@type":"image/jpeg","repo:path":"/content/dam/core-components-examples/library/sample-assets/lava-into-ocean.jpg","xdm:tags":[],"xdm:smartTags":{}}}}'
              class="cmp-image"
              itemscope=""
              itemtype="http://schema.org/ImageObject"
            >
              <img
                class="cmp-image__image"
                itemprop="contentUrl"
                data-cmp-hook-image="image"
                alt="Lava flowing into the ocean"
                title="Lava flowing into the ocean"
                src="/content/core-components-examples/library/container/tabs/_jcr_content/root/responsivegrid/demo_1865210207/component/tabs/item_1/image.coreimg.jpeg/1550672497829/lava-into-ocean.jpeg"
              />
              <meta itemprop="caption" content="Lava flowing into the ocean" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      id="tabs-d734aa9c61-item-1948bed6ab-tabpanel"
      role="tabpanel"
      aria-labelledby="tabs-d734aa9c61-item-1948bed6ab-tab"
      tabindex="0"
      class="cmp-tabs__tabpanel"
      data-cmp-hook-tabs="tabpanel"
      data-cmp-data-layer='{"tabs-d734aa9c61-item-1948bed6ab":{"@type":"core-components-examples/components/tabs/item","dc:title":"Tab 2"}}'
      aria-hidden="true"
    >
      <div class="responsivegrid">
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12">
          <div class="text aem-GridColumn aem-GridColumn--default--12">
            <div
              data-cmp-data-layer='{"text-cc6b3466b5":{"@type":"core-components-examples/components/text","repo:modifyDate":"2019-01-22T11:46:55Z","xdm:text":"<p>Hac habitasse platea dictumst quisque sagittis purus. At risus viverra adipiscing at in tellus integer. Sit amet consectetur adipiscing elit duis tristique sollicitudin. Leo vel orci porta non pulvinar neque laoreet suspendisse. Volutpat diam ut venenatis tellus in metus vulputate eu.</p>\n"}}'
              id="text-cc6b3466b5"
              class="cmp-text"
            >
              <p>
                Hac habitasse platea dictumst quisque sagittis purus. At risus
                viverra adipiscing at in tellus integer. Sit amet consectetur
                adipiscing elit duis tristique sollicitudin. Leo vel orci porta
                non pulvinar neque laoreet suspendisse. Volutpat diam ut
                venenatis tellus in metus vulputate eu.
              </p>
            </div>
          </div>
          <div class="image aem-GridColumn aem-GridColumn--default--12">
            <div
              data-cmp-lazythreshold="0"
              data-cmp-src="/content/core-components-examples/library/container/tabs/_jcr_content/root/responsivegrid/demo_1865210207/component/tabs/item_2/image.coreimg{.width}.jpeg/1550672497135/snowy-mountain-glacier.jpeg"
              data-asset="/content/dam/core-components-examples/library/sample-assets/snowy-mountain-glacier.jpg"
              data-asset-id="45c6ee92-90e1-4af2-af69-b6dcbc7daeb7"
              data-title="Snowy mountain glacier"
              id="image-5bf30ef570"
              data-cmp-data-layer='{"image-5bf30ef570":{"@type":"core-components-examples/components/image","repo:modifyDate":"2018-12-07T12:14:44Z","dc:title":"Snowy mountain glacier","image":{"repo:id":"45c6ee92-90e1-4af2-af69-b6dcbc7daeb7","repo:modifyDate":"2019-02-20T14:21:37Z","@type":"image/jpeg","repo:path":"/content/dam/core-components-examples/library/sample-assets/snowy-mountain-glacier.jpg","xdm:tags":[],"xdm:smartTags":{}}}}'
              class="cmp-image"
              itemscope=""
              itemtype="http://schema.org/ImageObject"
            >
              <img
                class="cmp-image__image"
                itemprop="contentUrl"
                data-cmp-hook-image="image"
                alt="Snowy mountain glacier"
                title="Snowy mountain glacier"
                src="/content/core-components-examples/library/container/tabs/_jcr_content/root/responsivegrid/demo_1865210207/component/tabs/item_2/image.coreimg.jpeg/1550672497135/snowy-mountain-glacier.jpeg"
              />
              <meta itemprop="caption" content="Snowy mountain glacier" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      id="tabs-d734aa9c61-item-705e21779e-tabpanel"
      role="tabpanel"
      aria-labelledby="tabs-d734aa9c61-item-705e21779e-tab"
      tabindex="0"
      class="cmp-tabs__tabpanel"
      data-cmp-hook-tabs="tabpanel"
      data-cmp-data-layer='{"tabs-d734aa9c61-item-705e21779e":{"@type":"core-components-examples/components/tabs/item","dc:title":"Tab 3"}}'
      aria-hidden="true"
    >
      <div class="responsivegrid">
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12">
          <div class="text aem-GridColumn aem-GridColumn--default--12">
            <div
              data-cmp-data-layer='{"text-cb937612dc":{"@type":"core-components-examples/components/text","repo:modifyDate":"2019-01-22T11:47:15Z","xdm:text":"<p>Libero id faucibus nisl tincidunt eget nullam non nisi. Hac habitasse platea dictumst vestibulum. Viverra orci sagittis eu volutpat odio facilisis mauris. Velit aliquet sagittis id consectetur purus ut. Orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt.</p>\n"}}'
              id="text-cb937612dc"
              class="cmp-text"
            >
              <p>
                Libero id faucibus nisl tincidunt eget nullam non nisi. Hac
                habitasse platea dictumst vestibulum. Viverra orci sagittis eu
                volutpat odio facilisis mauris. Velit aliquet sagittis id
                consectetur purus ut. Orci phasellus egestas tellus rutrum
                tellus pellentesque eu tincidunt.
              </p>
            </div>
          </div>
          <div class="image aem-GridColumn aem-GridColumn--default--12">
            <div
              data-cmp-lazythreshold="0"
              data-cmp-src="/content/core-components-examples/library/container/tabs/_jcr_content/root/responsivegrid/demo_1865210207/component/tabs/item_1544184727261/image.coreimg{.width}.jpeg/1550673081151/mountain-range.jpeg"
              data-asset="/content/dam/core-components-examples/library/sample-assets/mountain-range.jpg"
              data-asset-id="c0a39183-23f4-48f0-8db7-bb41ba2b0122"
              data-title="Aerial photo of mountain range"
              id="image-3722ca35c2"
              data-cmp-data-layer='{"image-3722ca35c2":{"@type":"core-components-examples/components/image","repo:modifyDate":"2018-12-07T12:14:50Z","dc:title":"Aerial photo of mountain range","image":{"repo:id":"c0a39183-23f4-48f0-8db7-bb41ba2b0122","repo:modifyDate":"2019-02-20T14:31:21Z","@type":"image/jpeg","repo:path":"/content/dam/core-components-examples/library/sample-assets/mountain-range.jpg","xdm:tags":[],"xdm:smartTags":{}}}}'
              class="cmp-image"
              itemscope=""
              itemtype="http://schema.org/ImageObject"
            >
              <img
                class="cmp-image__image"
                itemprop="contentUrl"
                data-cmp-hook-image="image"
                alt="Aerial photo of mountain range"
                title="Aerial photo of mountain range"
                src="/content/core-components-examples/library/container/tabs/_jcr_content/root/responsivegrid/demo_1865210207/component/tabs/item_1544184727261/image.coreimg.jpeg/1550673081151/mountain-range.jpeg"
              />
              <meta
                itemprop="caption"
                content="Aerial photo of mountain range"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tabs">
  <div
    id="tabs-4102fed94f"
    class="cmp-tabs"
    data-cmp-data-layer='{"tabs-4102fed94f":{"shownItems":["tabs-4102fed94f-item-cfdf1a57a8"],"@type":"core-components-examples/components/tabs","repo:modifyDate":"2018-12-07T12:15:45Z"}}'
    data-placeholder-text="false"
  >
    <ol role="tablist" class="cmp-tabs__tablist" aria-multiselectable="false">
      <li
        role="tab"
        id="tabs-4102fed94f-item-dceeb2558b-tab"
        class="cmp-tabs__tab"
        aria-controls="tabs-4102fed94f-item-dceeb2558b-tabpanel"
        tabindex="-1"
        data-cmp-hook-tabs="tab"
        aria-selected="false"
      >
        Tab 1
      </li>
      <li
        role="tab"
        id="tabs-4102fed94f-item-b216ff5512-tab"
        class="cmp-tabs__tab"
        aria-controls="tabs-4102fed94f-item-b216ff5512-tabpanel"
        tabindex="-1"
        data-cmp-hook-tabs="tab"
        aria-selected="false"
      >
        Tab 2
      </li>
      <li
        role="tab"
        id="tabs-4102fed94f-item-cfdf1a57a8-tab"
        class="cmp-tabs__tab cmp-tabs__tab--active"
        aria-controls="tabs-4102fed94f-item-cfdf1a57a8-tabpanel"
        tabindex="0"
        data-cmp-hook-tabs="tab"
        aria-selected="true"
      >
        Tab 3
      </li>
    </ol>
    <div
      id="tabs-4102fed94f-item-dceeb2558b-tabpanel"
      role="tabpanel"
      aria-labelledby="tabs-4102fed94f-item-dceeb2558b-tab"
      tabindex="0"
      class="cmp-tabs__tabpanel"
      data-cmp-hook-tabs="tabpanel"
      data-cmp-data-layer='{"tabs-4102fed94f-item-dceeb2558b":{"@type":"core-components-examples/components/tabs/item","dc:title":"Tab 1"}}'
      aria-hidden="true"
    >
      <div class="responsivegrid">
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12"></div>
      </div>
    </div>
    <div
      id="tabs-4102fed94f-item-b216ff5512-tabpanel"
      role="tabpanel"
      aria-labelledby="tabs-4102fed94f-item-b216ff5512-tab"
      tabindex="0"
      class="cmp-tabs__tabpanel"
      data-cmp-hook-tabs="tabpanel"
      data-cmp-data-layer='{"tabs-4102fed94f-item-b216ff5512":{"@type":"core-components-examples/components/tabs/item","dc:title":"Tab 2"}}'
      aria-hidden="true"
    >
      <div class="responsivegrid">
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12"></div>
      </div>
    </div>
    <div
      id="tabs-4102fed94f-item-cfdf1a57a8-tabpanel"
      role="tabpanel"
      aria-labelledby="tabs-4102fed94f-item-cfdf1a57a8-tab"
      tabindex="0"
      class="cmp-tabs__tabpanel cmp-tabs__tabpanel--active"
      data-cmp-hook-tabs="tabpanel"
      data-cmp-data-layer='{"tabs-4102fed94f-item-cfdf1a57a8":{"@type":"core-components-examples/components/tabs/item","dc:title":"Tab 3"}}'
    >
      <div class="responsivegrid">
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12"></div>
      </div>
    </div>
  </div>
</div>

<div class="tabs">
  <div
    id="tabs-9ed00c6e30"
    class="cmp-tabs"
    data-cmp-data-layer='{"tabs-9ed00c6e30":{"shownItems":["tabs-9ed00c6e30-item-b8fe8608fb"],"@type":"core-components-examples/components/tabs","repo:modifyDate":"2018-12-07T12:25:41Z"}}'
    data-placeholder-text="false"
  >
    <ol role="tablist" class="cmp-tabs__tablist" aria-multiselectable="false">
      <li
        role="tab"
        id="tabs-9ed00c6e30-item-b8fe8608fb-tab"
        class="cmp-tabs__tab cmp-tabs__tab--active"
        aria-controls="tabs-9ed00c6e30-item-b8fe8608fb-tabpanel"
        tabindex="0"
        data-cmp-hook-tabs="tab"
        aria-selected="true"
      >
        Tab 1
      </li>
      <li
        role="tab"
        id="tabs-9ed00c6e30-item-7f052ca639-tab"
        class="cmp-tabs__tab"
        aria-controls="tabs-9ed00c6e30-item-7f052ca639-tabpanel"
        tabindex="-1"
        data-cmp-hook-tabs="tab"
        aria-selected="false"
      >
        Tab 2
      </li>
      <li
        role="tab"
        id="tabs-9ed00c6e30-item-e62d39a946-tab"
        class="cmp-tabs__tab"
        aria-controls="tabs-9ed00c6e30-item-e62d39a946-tabpanel"
        tabindex="-1"
        data-cmp-hook-tabs="tab"
        aria-selected="false"
      >
        Tab 3
      </li>
    </ol>
    <div
      id="tabs-9ed00c6e30-item-b8fe8608fb-tabpanel"
      role="tabpanel"
      aria-labelledby="tabs-9ed00c6e30-item-b8fe8608fb-tab"
      tabindex="0"
      class="cmp-tabs__tabpanel cmp-tabs__tabpanel--active"
      data-cmp-hook-tabs="tabpanel"
      data-cmp-data-layer='{"tabs-9ed00c6e30-item-b8fe8608fb":{"@type":"core-components-examples/components/tabs/item","dc:title":"Tab 1"}}'
    >
      <div class="responsivegrid">
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12">
          <div class="tabs aem-GridColumn aem-GridColumn--default--12">
            <div
              id="tabs-c0c835229e"
              class="cmp-tabs"
              data-cmp-data-layer='{"tabs-c0c835229e":{"shownItems":["tabs-c0c835229e-item-823fa9a5f9"],"@type":"core-components-examples/components/tabs","repo:modifyDate":"2019-01-22T11:51:03Z"}}'
              data-placeholder-text="false"
            >
              <ol
                role="tablist"
                class="cmp-tabs__tablist"
                aria-multiselectable="false"
              >
                <li
                  role="tab"
                  id="tabs-c0c835229e-item-823fa9a5f9-tab"
                  class="cmp-tabs__tab cmp-tabs__tab--active"
                  aria-controls="tabs-c0c835229e-item-823fa9a5f9-tabpanel"
                  tabindex="0"
                  data-cmp-hook-tabs="tab"
                  aria-selected="true"
                >
                  Tab 1.1
                </li>
                <li
                  role="tab"
                  id="tabs-c0c835229e-item-e8799af4fa-tab"
                  class="cmp-tabs__tab"
                  aria-controls="tabs-c0c835229e-item-e8799af4fa-tabpanel"
                  tabindex="-1"
                  data-cmp-hook-tabs="tab"
                  aria-selected="false"
                >
                  Tab 1.2
                </li>
                <li
                  role="tab"
                  id="tabs-c0c835229e-item-66c0d36c44-tab"
                  class="cmp-tabs__tab"
                  aria-controls="tabs-c0c835229e-item-66c0d36c44-tabpanel"
                  tabindex="-1"
                  data-cmp-hook-tabs="tab"
                  aria-selected="false"
                >
                  Tab 1.3
                </li>
              </ol>
              <div
                id="tabs-c0c835229e-item-823fa9a5f9-tabpanel"
                role="tabpanel"
                aria-labelledby="tabs-c0c835229e-item-823fa9a5f9-tab"
                tabindex="0"
                class="cmp-tabs__tabpanel cmp-tabs__tabpanel--active"
                data-cmp-hook-tabs="tabpanel"
                data-cmp-data-layer='{"tabs-c0c835229e-item-823fa9a5f9":{"@type":"core-components-examples/components/tabs/item","dc:title":"Tab 1.1"}}'
              >
                <div class="responsivegrid">
                  <div
                    class="aem-Grid aem-Grid--12 aem-Grid--default--12"
                  ></div>
                </div>
              </div>
              <div
                id="tabs-c0c835229e-item-e8799af4fa-tabpanel"
                role="tabpanel"
                aria-labelledby="tabs-c0c835229e-item-e8799af4fa-tab"
                tabindex="0"
                class="cmp-tabs__tabpanel"
                data-cmp-hook-tabs="tabpanel"
                data-cmp-data-layer='{"tabs-c0c835229e-item-e8799af4fa":{"@type":"core-components-examples/components/tabs/item","dc:title":"Tab 1.2"}}'
                aria-hidden="true"
              >
                <div class="responsivegrid">
                  <div
                    class="aem-Grid aem-Grid--12 aem-Grid--default--12"
                  ></div>
                </div>
              </div>
              <div
                id="tabs-c0c835229e-item-66c0d36c44-tabpanel"
                role="tabpanel"
                aria-labelledby="tabs-c0c835229e-item-66c0d36c44-tab"
                tabindex="0"
                class="cmp-tabs__tabpanel"
                data-cmp-hook-tabs="tabpanel"
                data-cmp-data-layer='{"tabs-c0c835229e-item-66c0d36c44":{"@type":"core-components-examples/components/tabs/item","dc:title":"Tab 1.3"}}'
                aria-hidden="true"
              >
                <div class="responsivegrid">
                  <div
                    class="aem-Grid aem-Grid--12 aem-Grid--default--12"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      id="tabs-9ed00c6e30-item-7f052ca639-tabpanel"
      role="tabpanel"
      aria-labelledby="tabs-9ed00c6e30-item-7f052ca639-tab"
      tabindex="0"
      class="cmp-tabs__tabpanel"
      data-cmp-hook-tabs="tabpanel"
      data-cmp-data-layer='{"tabs-9ed00c6e30-item-7f052ca639":{"@type":"core-components-examples/components/tabs/item","dc:title":"Tab 2"}}'
      aria-hidden="true"
    >
      <div class="responsivegrid">
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12">
          <div class="tabs aem-GridColumn aem-GridColumn--default--12">
            <div
              id="tabs-de04dd860e"
              class="cmp-tabs"
              data-cmp-data-layer='{"tabs-de04dd860e":{"shownItems":["tabs-de04dd860e-item-ef5294ef2b"],"@type":"core-components-examples/components/tabs","repo:modifyDate":"2019-01-22T11:51:24Z"}}'
              data-placeholder-text="false"
            >
              <ol
                role="tablist"
                class="cmp-tabs__tablist"
                aria-multiselectable="false"
              >
                <li
                  role="tab"
                  id="tabs-de04dd860e-item-ef5294ef2b-tab"
                  class="cmp-tabs__tab cmp-tabs__tab--active"
                  aria-controls="tabs-de04dd860e-item-ef5294ef2b-tabpanel"
                  tabindex="0"
                  data-cmp-hook-tabs="tab"
                  aria-selected="true"
                >
                  Tab 2.1
                </li>
                <li
                  role="tab"
                  id="tabs-de04dd860e-item-c95ebf66f6-tab"
                  class="cmp-tabs__tab"
                  aria-controls="tabs-de04dd860e-item-c95ebf66f6-tabpanel"
                  tabindex="-1"
                  data-cmp-hook-tabs="tab"
                  aria-selected="false"
                >
                  Tab 2.2
                </li>
                <li
                  role="tab"
                  id="tabs-de04dd860e-item-dd51e63073-tab"
                  class="cmp-tabs__tab"
                  aria-controls="tabs-de04dd860e-item-dd51e63073-tabpanel"
                  tabindex="-1"
                  data-cmp-hook-tabs="tab"
                  aria-selected="false"
                >
                  Tab 2.3
                </li>
              </ol>
              <div
                id="tabs-de04dd860e-item-ef5294ef2b-tabpanel"
                role="tabpanel"
                aria-labelledby="tabs-de04dd860e-item-ef5294ef2b-tab"
                tabindex="0"
                class="cmp-tabs__tabpanel cmp-tabs__tabpanel--active"
                data-cmp-hook-tabs="tabpanel"
                data-cmp-data-layer='{"tabs-de04dd860e-item-ef5294ef2b":{"@type":"core-components-examples/components/tabs/item","dc:title":"Tab 2.1"}}'
              >
                <div class="responsivegrid">
                  <div
                    class="aem-Grid aem-Grid--12 aem-Grid--default--12"
                  ></div>
                </div>
              </div>
              <div
                id="tabs-de04dd860e-item-c95ebf66f6-tabpanel"
                role="tabpanel"
                aria-labelledby="tabs-de04dd860e-item-c95ebf66f6-tab"
                tabindex="0"
                class="cmp-tabs__tabpanel"
                data-cmp-hook-tabs="tabpanel"
                data-cmp-data-layer='{"tabs-de04dd860e-item-c95ebf66f6":{"@type":"core-components-examples/components/tabs/item","dc:title":"Tab 2.2"}}'
                aria-hidden="true"
              >
                <div class="responsivegrid">
                  <div
                    class="aem-Grid aem-Grid--12 aem-Grid--default--12"
                  ></div>
                </div>
              </div>
              <div
                id="tabs-de04dd860e-item-dd51e63073-tabpanel"
                role="tabpanel"
                aria-labelledby="tabs-de04dd860e-item-dd51e63073-tab"
                tabindex="0"
                class="cmp-tabs__tabpanel"
                data-cmp-hook-tabs="tabpanel"
                data-cmp-data-layer='{"tabs-de04dd860e-item-dd51e63073":{"@type":"core-components-examples/components/tabs/item","dc:title":"Tab 2.3"}}'
                aria-hidden="true"
              >
                <div class="responsivegrid">
                  <div
                    class="aem-Grid aem-Grid--12 aem-Grid--default--12"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      id="tabs-9ed00c6e30-item-e62d39a946-tabpanel"
      role="tabpanel"
      aria-labelledby="tabs-9ed00c6e30-item-e62d39a946-tab"
      tabindex="0"
      class="cmp-tabs__tabpanel"
      data-cmp-hook-tabs="tabpanel"
      data-cmp-data-layer='{"tabs-9ed00c6e30-item-e62d39a946":{"@type":"core-components-examples/components/tabs/item","dc:title":"Tab 3"}}'
      aria-hidden="true"
    >
      <div class="responsivegrid">
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12">
          <div class="tabs aem-GridColumn aem-GridColumn--default--12">
            <div
              id="tabs-eab21bb274"
              class="cmp-tabs"
              data-cmp-data-layer='{"tabs-eab21bb274":{"shownItems":["tabs-eab21bb274-item-803755377b"],"@type":"core-components-examples/components/tabs","repo:modifyDate":"2019-01-22T11:51:36Z"}}'
              data-placeholder-text="false"
            >
              <ol
                role="tablist"
                class="cmp-tabs__tablist"
                aria-multiselectable="false"
              >
                <li
                  role="tab"
                  id="tabs-eab21bb274-item-803755377b-tab"
                  class="cmp-tabs__tab cmp-tabs__tab--active"
                  aria-controls="tabs-eab21bb274-item-803755377b-tabpanel"
                  tabindex="0"
                  data-cmp-hook-tabs="tab"
                  aria-selected="true"
                >
                  Tab 3.1
                </li>
                <li
                  role="tab"
                  id="tabs-eab21bb274-item-bbfb1f3e98-tab"
                  class="cmp-tabs__tab"
                  aria-controls="tabs-eab21bb274-item-bbfb1f3e98-tabpanel"
                  tabindex="-1"
                  data-cmp-hook-tabs="tab"
                  aria-selected="false"
                >
                  Tab 3.2
                </li>
                <li
                  role="tab"
                  id="tabs-eab21bb274-item-4ef7576e11-tab"
                  class="cmp-tabs__tab"
                  aria-controls="tabs-eab21bb274-item-4ef7576e11-tabpanel"
                  tabindex="-1"
                  data-cmp-hook-tabs="tab"
                  aria-selected="false"
                >
                  Tab 3.3
                </li>
              </ol>
              <div
                id="tabs-eab21bb274-item-803755377b-tabpanel"
                role="tabpanel"
                aria-labelledby="tabs-eab21bb274-item-803755377b-tab"
                tabindex="0"
                class="cmp-tabs__tabpanel cmp-tabs__tabpanel--active"
                data-cmp-hook-tabs="tabpanel"
                data-cmp-data-layer='{"tabs-eab21bb274-item-803755377b":{"@type":"core-components-examples/components/tabs/item","dc:title":"Tab 3.1"}}'
              >
                <div class="responsivegrid">
                  <div
                    class="aem-Grid aem-Grid--12 aem-Grid--default--12"
                  ></div>
                </div>
              </div>
              <div
                id="tabs-eab21bb274-item-bbfb1f3e98-tabpanel"
                role="tabpanel"
                aria-labelledby="tabs-eab21bb274-item-bbfb1f3e98-tab"
                tabindex="0"
                class="cmp-tabs__tabpanel"
                data-cmp-hook-tabs="tabpanel"
                data-cmp-data-layer='{"tabs-eab21bb274-item-bbfb1f3e98":{"@type":"core-components-examples/components/tabs/item","dc:title":"Tab 3.2"}}'
                aria-hidden="true"
              >
                <div class="responsivegrid">
                  <div
                    class="aem-Grid aem-Grid--12 aem-Grid--default--12"
                  ></div>
                </div>
              </div>
              <div
                id="tabs-eab21bb274-item-4ef7576e11-tabpanel"
                role="tabpanel"
                aria-labelledby="tabs-eab21bb274-item-4ef7576e11-tab"
                tabindex="0"
                class="cmp-tabs__tabpanel"
                data-cmp-hook-tabs="tabpanel"
                data-cmp-data-layer='{"tabs-eab21bb274-item-4ef7576e11":{"@type":"core-components-examples/components/tabs/item","dc:title":"Tab 3.3"}}'
                aria-hidden="true"
              >
                <div class="responsivegrid">
                  <div
                    class="aem-Grid aem-Grid--12 aem-Grid--default--12"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
