<!-- 
  Possible HTML structure for Title Component 
  Used as reference for Tailwind build
  https://www.aemcomponents.dev/content/core-components-examples/library/page-authoring/title.html
-->

<div class="title">
  <div
    data-cmp-data-layer='{"title-e8a4f1e792":{"@type":"core-components-examples/components/title","repo:modifyDate":"2018-12-07T12:50:54Z","dc:title":"Title"}}'
    id="title-e8a4f1e792"
    class="cmp-title"
  >
    <h1 class="cmp-title__text">Title</h1>
  </div>
</div>

<div class="title">
  <div
    data-cmp-data-layer='{"title-b358cbbf54":{"@type":"core-components-examples/components/title","repo:modifyDate":"2018-12-07T12:53:27Z","dc:title":"Lorem Ipsum"}}'
    id="title-b358cbbf54"
    class="cmp-title"
  >
    <h1 class="cmp-title__text">Lorem Ipsum</h1>
  </div>
</div>

<div class="title">
  <div
    data-cmp-data-layer='{"title-fb961975b2":{"@type":"core-components-examples/components/title","repo:modifyDate":"2018-12-07T12:52:17Z","dc:title":"Heading 3"}}'
    id="title-fb961975b2"
    class="cmp-title"
  >
    <h3 class="cmp-title__text">Heading 3</h3>
  </div>
</div>

<div class="title">
  <div
    data-cmp-data-layer='{"title-aca6b2bbfb":{"@type":"core-components-examples/components/title","repo:modifyDate":"2020-04-29T13:45:41Z","dc:title":"Title","xdm:linkURL":"/content/core-components-examples/library/page-authoring/title.html"}}'
    id="title-aca6b2bbfb"
    class="cmp-title"
  >
    <h1 class="cmp-title__text">
      <a
        class="cmp-title__link"
        href="/content/core-components-examples/library/page-authoring/title.html"
        data-cmp-clickable=""
        >Title</a
      >
    </h1>
  </div>
</div>
