<!-- 
  Possible HTML structure for Breadcrumb Component 
  Used as reference for Tailwind build
  https://www.aemcomponents.dev/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html
-->

<div class="breadcrumb">
  <nav id="breadcrumb-b2f8c70662" class="cmp-breadcrumb" aria-label="Breadcrumb" data-cmp-data-layer="{&quot;breadcrumb-b2f8c70662&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/breadcrumb&quot;,&quot;repo:modifyDate&quot;:&quot;2019-05-21T07:21:29Z&quot;}}">
    <ol class="cmp-breadcrumb__list" itemscope="" itemtype="http://schema.org/BreadcrumbList">
      <li class="cmp-breadcrumb__item" data-cmp-data-layer="{&quot;breadcrumb-b2f8c70662-item-9bee4d4454&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/breadcrumb/item&quot;,&quot;repo:modifyDate&quot;:&quot;2019-12-20T18:35:24Z&quot;,&quot;dc:title&quot;:&quot;Component Library&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library.html&quot;}}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a href="/content/core-components-examples/library.html" class="cmp-breadcrumb__item-link" itemprop="item" data-cmp-clickable="">
          <span itemprop="name">Component Library</span>
        </a>
        <meta itemprop="position" content="1">
      </li>
      <li class="cmp-breadcrumb__item" data-cmp-data-layer="{&quot;breadcrumb-b2f8c70662-item-1d32a567a9&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/breadcrumb/item&quot;,&quot;dc:title&quot;:&quot;Templating&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/templating.html&quot;}}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a href="/content/core-components-examples/library/templating.html" class="cmp-breadcrumb__item-link" itemprop="item" data-cmp-clickable="">
          <span itemprop="name">Templating</span>
        </a>
        <meta itemprop="position" content="2">
      </li>
      <li class="cmp-breadcrumb__item" data-cmp-data-layer="{&quot;breadcrumb-b2f8c70662-item-35671d6884&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/breadcrumb/item&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a href="/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html" class="cmp-breadcrumb__item-link" itemprop="item" data-cmp-clickable="">
          <span itemprop="name">Breadcrumb</span>
        </a>
        <meta itemprop="position" content="3">
      </li>
      <li class="cmp-breadcrumb__item" data-cmp-data-layer="{&quot;breadcrumb-b2f8c70662-item-eae3a9359d&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/breadcrumb/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:29Z&quot;,&quot;dc:title&quot;:&quot;Level 1&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/templating/breadcrumb/hidden/level-1.html&quot;}}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a href="/content/core-components-examples/library/templating/breadcrumb/hidden/level-1.html" class="cmp-breadcrumb__item-link" itemprop="item" data-cmp-clickable="">
          <span itemprop="name">Level 1</span>
        </a>
        <meta itemprop="position" content="4">
      </li>
      <li class="cmp-breadcrumb__item" data-cmp-data-layer="{&quot;breadcrumb-b2f8c70662-item-4ece1d42cb&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/breadcrumb/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:29Z&quot;,&quot;dc:title&quot;:&quot;Level 2&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2.html&quot;}}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a href="/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2.html" class="cmp-breadcrumb__item-link" itemprop="item" data-cmp-clickable="">
          <span itemprop="name">Level 2</span>
        </a>
        <meta itemprop="position" content="5">
      </li>
      <li class="cmp-breadcrumb__item cmp-breadcrumb__item--active" data-cmp-data-layer="{&quot;breadcrumb-b2f8c70662-item-654f395665&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/breadcrumb/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:29Z&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <span itemprop="name">Breadcrumb</span>
        <meta itemprop="position" content="6">
      </li>
    </ol>
  </nav>
</div>


<div class="breadcrumb">
  <nav id="breadcrumb-e670748b1f" class="cmp-breadcrumb" aria-label="Breadcrumb" data-cmp-data-layer="{&quot;breadcrumb-e670748b1f&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/breadcrumb&quot;,&quot;repo:modifyDate&quot;:&quot;2019-05-21T07:21:36Z&quot;}}">
    <ol class="cmp-breadcrumb__list" itemscope="" itemtype="http://schema.org/BreadcrumbList">
      <li class="cmp-breadcrumb__item" data-cmp-data-layer="{&quot;breadcrumb-e670748b1f-item-1d32a567a9&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/breadcrumb/item&quot;,&quot;dc:title&quot;:&quot;Templating&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/templating.html&quot;}}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a href="/content/core-components-examples/library/templating.html" class="cmp-breadcrumb__item-link" itemprop="item" data-cmp-clickable="">
          <span itemprop="name">Templating</span>
        </a>
        <meta itemprop="position" content="1">
      </li>
      <li class="cmp-breadcrumb__item" data-cmp-data-layer="{&quot;breadcrumb-e670748b1f-item-35671d6884&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/breadcrumb/item&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a href="/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html" class="cmp-breadcrumb__item-link" itemprop="item" data-cmp-clickable="">
          <span itemprop="name">Breadcrumb</span>
        </a>
        <meta itemprop="position" content="2">
      </li>
      <li class="cmp-breadcrumb__item" data-cmp-data-layer="{&quot;breadcrumb-e670748b1f-item-eae3a9359d&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/breadcrumb/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:29Z&quot;,&quot;dc:title&quot;:&quot;Level 1&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/templating/breadcrumb/hidden/level-1.html&quot;}}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a href="/content/core-components-examples/library/templating/breadcrumb/hidden/level-1.html" class="cmp-breadcrumb__item-link" itemprop="item" data-cmp-clickable="">
          <span itemprop="name">Level 1</span>
        </a>
        <meta itemprop="position" content="3">
      </li>
      <li class="cmp-breadcrumb__item" data-cmp-data-layer="{&quot;breadcrumb-e670748b1f-item-4ece1d42cb&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/breadcrumb/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:29Z&quot;,&quot;dc:title&quot;:&quot;Level 2&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2.html&quot;}}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a href="/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2.html" class="cmp-breadcrumb__item-link" itemprop="item" data-cmp-clickable="">
          <span itemprop="name">Level 2</span>
        </a>
        <meta itemprop="position" content="4">
      </li>
      <li class="cmp-breadcrumb__item cmp-breadcrumb__item--active" data-cmp-data-layer="{&quot;breadcrumb-e670748b1f-item-654f395665&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/breadcrumb/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:29Z&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <span itemprop="name">Breadcrumb</span>
        <meta itemprop="position" content="5">
      </li>
    </ol>
  </nav>
</div>

<div class="breadcrumb">
  <nav id="breadcrumb-065f714c4a" class="cmp-breadcrumb" aria-label="Breadcrumb" data-cmp-data-layer="{&quot;breadcrumb-065f714c4a&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/breadcrumb&quot;,&quot;repo:modifyDate&quot;:&quot;2019-05-21T07:22:19Z&quot;}}">
    <ol class="cmp-breadcrumb__list" itemscope="" itemtype="http://schema.org/BreadcrumbList">
      <li class="cmp-breadcrumb__item" data-cmp-data-layer="{&quot;breadcrumb-065f714c4a-item-9bee4d4454&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/breadcrumb/item&quot;,&quot;repo:modifyDate&quot;:&quot;2019-12-20T18:35:24Z&quot;,&quot;dc:title&quot;:&quot;Component Library&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library.html&quot;}}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a href="/content/core-components-examples/library.html" class="cmp-breadcrumb__item-link" itemprop="item" data-cmp-clickable="">
          <span itemprop="name">Component Library</span>
        </a>
        <meta itemprop="position" content="1">
      </li>
      <li class="cmp-breadcrumb__item" data-cmp-data-layer="{&quot;breadcrumb-065f714c4a-item-1d32a567a9&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/breadcrumb/item&quot;,&quot;dc:title&quot;:&quot;Templating&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/templating.html&quot;}}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a href="/content/core-components-examples/library/templating.html" class="cmp-breadcrumb__item-link" itemprop="item" data-cmp-clickable="">
          <span itemprop="name">Templating</span>
        </a>
        <meta itemprop="position" content="2">
      </li>
      <li class="cmp-breadcrumb__item" data-cmp-data-layer="{&quot;breadcrumb-065f714c4a-item-35671d6884&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/breadcrumb/item&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a href="/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html" class="cmp-breadcrumb__item-link" itemprop="item" data-cmp-clickable="">
          <span itemprop="name">Breadcrumb</span>
        </a>
        <meta itemprop="position" content="3">
      </li>
      <li class="cmp-breadcrumb__item" data-cmp-data-layer="{&quot;breadcrumb-065f714c4a-item-a11728d7a6&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/breadcrumb/item&quot;,&quot;dc:title&quot;:&quot;Hidden&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/templating/breadcrumb/hidden.html&quot;}}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a href="/content/core-components-examples/library/templating/breadcrumb/hidden.html" class="cmp-breadcrumb__item-link" itemprop="item" data-cmp-clickable="">
          <span itemprop="name">Hidden</span>
        </a>
        <meta itemprop="position" content="4">
      </li>
      <li class="cmp-breadcrumb__item" data-cmp-data-layer="{&quot;breadcrumb-065f714c4a-item-eae3a9359d&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/breadcrumb/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:29Z&quot;,&quot;dc:title&quot;:&quot;Level 1&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/templating/breadcrumb/hidden/level-1.html&quot;}}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a href="/content/core-components-examples/library/templating/breadcrumb/hidden/level-1.html" class="cmp-breadcrumb__item-link" itemprop="item" data-cmp-clickable="">
          <span itemprop="name">Level 1</span>
        </a>
        <meta itemprop="position" content="5">
      </li>
      <li class="cmp-breadcrumb__item" data-cmp-data-layer="{&quot;breadcrumb-065f714c4a-item-4ece1d42cb&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/breadcrumb/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:29Z&quot;,&quot;dc:title&quot;:&quot;Level 2&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2.html&quot;}}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a href="/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2.html" class="cmp-breadcrumb__item-link" itemprop="item" data-cmp-clickable="">
          <span itemprop="name">Level 2</span>
        </a>
        <meta itemprop="position" content="6">
      </li>
      <li class="cmp-breadcrumb__item cmp-breadcrumb__item--active" data-cmp-data-layer="{&quot;breadcrumb-065f714c4a-item-654f395665&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/breadcrumb/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:29Z&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <span itemprop="name">Breadcrumb</span>
        <meta itemprop="position" content="7">
      </li>
    </ol>
  </nav>
</div>

<div class="breadcrumb">
  <nav id="breadcrumb-0b805437b4" class="cmp-breadcrumb" aria-label="Breadcrumb" data-cmp-data-layer="{&quot;breadcrumb-0b805437b4&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/breadcrumb&quot;,&quot;repo:modifyDate&quot;:&quot;2019-05-21T12:14:14Z&quot;}}">
    <ol class="cmp-breadcrumb__list" itemscope="" itemtype="http://schema.org/BreadcrumbList">
      <li class="cmp-breadcrumb__item" data-cmp-data-layer="{&quot;breadcrumb-0b805437b4-item-9bee4d4454&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/breadcrumb/item&quot;,&quot;repo:modifyDate&quot;:&quot;2019-12-20T18:35:24Z&quot;,&quot;dc:title&quot;:&quot;Component Library&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library.html&quot;}}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a href="/content/core-components-examples/library.html" class="cmp-breadcrumb__item-link" itemprop="item" data-cmp-clickable="">
          <span itemprop="name">Component Library</span>
        </a>
        <meta itemprop="position" content="1">
      </li>
      <li class="cmp-breadcrumb__item" data-cmp-data-layer="{&quot;breadcrumb-0b805437b4-item-1d32a567a9&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/breadcrumb/item&quot;,&quot;dc:title&quot;:&quot;Templating&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/templating.html&quot;}}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a href="/content/core-components-examples/library/templating.html" class="cmp-breadcrumb__item-link" itemprop="item" data-cmp-clickable="">
          <span itemprop="name">Templating</span>
        </a>
        <meta itemprop="position" content="2">
      </li>
      <li class="cmp-breadcrumb__item" data-cmp-data-layer="{&quot;breadcrumb-0b805437b4-item-35671d6884&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/breadcrumb/item&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a href="/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html" class="cmp-breadcrumb__item-link" itemprop="item" data-cmp-clickable="">
          <span itemprop="name">Breadcrumb</span>
        </a>
        <meta itemprop="position" content="3">
      </li>
      <li class="cmp-breadcrumb__item" data-cmp-data-layer="{&quot;breadcrumb-0b805437b4-item-eae3a9359d&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/breadcrumb/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:29Z&quot;,&quot;dc:title&quot;:&quot;Level 1&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/templating/breadcrumb/hidden/level-1.html&quot;}}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a href="/content/core-components-examples/library/templating/breadcrumb/hidden/level-1.html" class="cmp-breadcrumb__item-link" itemprop="item" data-cmp-clickable="">
          <span itemprop="name">Level 1</span>
        </a>
        <meta itemprop="position" content="4">
      </li>
      <li class="cmp-breadcrumb__item" data-cmp-data-layer="{&quot;breadcrumb-0b805437b4-item-4ece1d42cb&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/breadcrumb/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:29Z&quot;,&quot;dc:title&quot;:&quot;Level 2&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2.html&quot;}}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a href="/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2.html" class="cmp-breadcrumb__item-link" itemprop="item" data-cmp-clickable="">
          <span itemprop="name">Level 2</span>
        </a>
        <meta itemprop="position" content="5">
      </li>
    </ol>
  </nav>
</div>