<!-- 
  Possible HTML structure for Progress Bar Component 
  Used as reference for Tailwind build
  https://www.aemcomponents.dev/content/core-components-examples/library/page-authoring/progressbar.html
-->

<div class="progressbar">
  <div
    id="progressbar-8b45985e46"
    class="cmp-progressbar"
    data-cmp-data-layer='{"progressbar-8b45985e46":{"@type":"core-components-examples/components/progressbar","repo:modifyDate":"2020-04-13T07:42:23Z"}}'
  >
    <span class="cmp-progressbar__label--completed">0</span>
    <span class="cmp-progressbar__label--remaining">100</span>
    <div
      class="cmp-progressbar__bar"
      role="progressbar"
      aria-valuenow="0"
      aria-valuemin="0"
      aria-valuemax="100"
      style="width: 0%"
    >
      0
    </div>
  </div>
</div>

<div class="progressbar">
  <div
    id="progressbar-3b51f979e5"
    class="cmp-progressbar"
    data-cmp-data-layer='{"progressbar-3b51f979e5":{"@type":"core-components-examples/components/progressbar","repo:modifyDate":"2020-04-13T08:56:39Z"}}'
  >
    <span class="cmp-progressbar__label--completed">33.3</span>
    <span class="cmp-progressbar__label--remaining">66.7</span>
    <div
      class="cmp-progressbar__bar"
      role="progressbar"
      aria-valuenow="33.3"
      aria-valuemin="0"
      aria-valuemax="100"
      style="width: 33.3%"
    >
      33.3
    </div>
  </div>
</div>
