<!-- 
  Possible HTML structure for Language Navigation Component 
  Used as reference for Tailwind build
  https://www.aemcomponents.dev/content/core-components-examples/library/templating/language-navigation/language-structure/us/en/language-navigation.html
-->

<div class="languagenavigation">
  <nav
    data-cmp-data-layer='{"languagenavigation-e411fdc67f":{"@type":"core-components-examples/components/languagenavigation","repo:modifyDate":"2019-06-06T07:40:17Z"}}'
    id="languagenavigation-e411fdc67f"
    class="cmp-languagenavigation"
  >
    <ul class="cmp-languagenavigation__group">
      <li
        class=" cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-DE cmp-languagenavigation__item--langcode-de-DE cmp-languagenavigation__item--level-0"
      >
        <span class="cmp-languagenavigation__item-title" lang="de-DE"
          >Deutschland</span
        >
        <ul class="cmp-languagenavigation__group">
          <li
            class=" cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-DE cmp-languagenavigation__item--langcode-de-DE cmp-languagenavigation__item--level-1"
            data-cmp-data-layer='{"languagenavigation-e411fdc67f-item-72cae85f1b":{"@type":"core-components-examples/components/languagenavigation/item","repo:modifyDate":"2020-01-16T15:15:29Z","dc:title":"Deutsch","xdm:linkURL":"/content/core-components-examples/library/templating/language-navigation/language-structure/de/de/language-navigation.html","xdm:language":"de-DE"}}'
          >
            <a
              data-cmp-clickable=""
              class="cmp-languagenavigation__item-link"
              href="/content/core-components-examples/library/templating/language-navigation/language-structure/de/de/language-navigation.html"
              hreflang="de-DE"
              lang="de-DE"
              rel="alternate"
              title="Deutsch"
              >Deutsch</a
            >
          </li>
        </ul>
      </li>
      <li
        class=" cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-FR cmp-languagenavigation__item--langcode-fr-FR cmp-languagenavigation__item--level-0"
      >
        <span class="cmp-languagenavigation__item-title" lang="fr-FR"
          >France</span
        >
        <ul class="cmp-languagenavigation__group">
          <li
            class=" cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-FR cmp-languagenavigation__item--langcode-fr-FR cmp-languagenavigation__item--level-1"
            data-cmp-data-layer='{"languagenavigation-e411fdc67f-item-1f1a991637":{"@type":"core-components-examples/components/languagenavigation/item","repo:modifyDate":"2020-01-16T15:15:30Z","dc:title":"Français","xdm:linkURL":"/content/core-components-examples/library/templating/language-navigation/language-structure/fr/fr/language-navigation.html","xdm:language":"fr-FR"}}'
          >
            <a
              data-cmp-clickable=""
              class="cmp-languagenavigation__item-link"
              href="/content/core-components-examples/library/templating/language-navigation/language-structure/fr/fr/language-navigation.html"
              hreflang="fr-FR"
              lang="fr-FR"
              rel="alternate"
              title="Français"
              >Français</a
            >
          </li>
        </ul>
      </li>
      <li
        class=" cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-US cmp-languagenavigation__item--langcode-en-US cmp-languagenavigation__item--level-0 cmp-languagenavigation__item--active"
      >
        <span class="cmp-languagenavigation__item-title" lang="en-US"
          >United States</span
        >
        <ul class="cmp-languagenavigation__group">
          <li
            class=" cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-US cmp-languagenavigation__item--langcode-en-US cmp-languagenavigation__item--level-1 cmp-languagenavigation__item--active"
            data-cmp-data-layer='{"languagenavigation-e411fdc67f-item-bf8f56f487":{"@type":"core-components-examples/components/languagenavigation/item","repo:modifyDate":"2020-01-16T15:15:29Z","dc:title":"English","xdm:linkURL":"/content/core-components-examples/library/templating/language-navigation/language-structure/us/en/language-navigation.html","xdm:language":"en-US"}}'
          >
            <a
              data-cmp-clickable=""
              aria-current="page"
              class="cmp-languagenavigation__item-link"
              href="/content/core-components-examples/library/templating/language-navigation/language-structure/us/en/language-navigation.html"
              hreflang="en-US"
              lang="en-US"
              rel="alternate"
              title="English"
              >English</a
            >
          </li>
          <li
            class=" cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-ES cmp-languagenavigation__item--langcode-es-ES cmp-languagenavigation__item--level-1"
            data-cmp-data-layer='{"languagenavigation-e411fdc67f-item-880c07dfb0":{"@type":"core-components-examples/components/languagenavigation/item","repo:modifyDate":"2020-01-16T15:15:29Z","dc:title":"Español","xdm:linkURL":"/content/core-components-examples/library/templating/language-navigation/language-structure/us/es/language-navigation.html","xdm:language":"es-ES"}}'
          >
            <a
              data-cmp-clickable=""
              class="cmp-languagenavigation__item-link"
              href="/content/core-components-examples/library/templating/language-navigation/language-structure/us/es/language-navigation.html"
              hreflang="es-ES"
              lang="es-ES"
              rel="alternate"
              title="Español"
              >Español</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
